<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-cliente">
  <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
  <div class="container">
      <h1>Consuta de Saldo y movimientos:</h1>
        <div class="form-row">
          <button on-click="obtenerUsuarios" class="btn btn-success" type="button" name="button">Obtener Saldo</button>
        </div>
        <div class="mt-5" >
          <p>Tu saldo es de: {{conte}}</p>
        </div>
        <div class="form-row">
            <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener Movimientos</button>
        </div>
    </div>
    
    <div class="table-wrapper"> 
      <table class="alt">
        <tbody>
          <template is="dom-repeat" items="{{contenido.value}}">
            <tr>
              <td>
                [[item.ContactName]]
              </td>
              <td>
                [[item.City]]
              </td>
              <td>
                [[item.Phone]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-cliente'; }
      static get properties() {
        return {
          contenido: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerUsuarios(){
        var contenido1 = document.querySelector('#conte')
        fetch('http://127.0.0.1:3000/movimientos',{
          headers:{
            'Content-Type': 'application/json',
            'Accept': 'application/json'
          }
        })
        .then(res => res.json())
        .then(data =>{
          console.log(data)
          this.conte = data['0'].usuario; 
        })
      }

      obtenerClientes(){
        var contenido1 = document.querySelector('#conte')
        fetch('https://services.odata.org/V4/Northwind/Northwind.svc/Customers')
        .then(res => res.json())
        .then(data =>{
          console.log(data);
          this.contenido = data;//.value['0'].ContactName;
          //tablaDatos(data);
        })
      }


      agregarCliente(){
        var request = new XMLHttpRequest();
        var url ="http://127.0.0.1:3000/movimientos";
        res.set("Access-Control-Allow--Origin");
        res.set ("Access-Control-Allow--Headers", "Origin, X-Requested-, Content-Type, Accept");
        request.open("POST",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevcliente = {"CustomerID":1234, "ContactName":"Pepe", "CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevcliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
