<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="demopolymer-app">
  <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>BBVA</h1>
    <h2>[[prop1]]</h2>
    <h2>Ingresa a la aplicasion para poder ver el estatus de tus movimientos</h2>
    <div class="container">
            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" value="{{email::input}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password" value="{{password::input}}">
                  </div>
                  <ul class="actions">
                    <button  on-click="obtenerUsuario" class="btn btn-primary btn-lg" type="button" name="button">Iniciar secion</button>
                  </ul>
                </div>
              </form>
        </div>
      <!-- <div class="row">
        Email: <input type="email" value="{{email::input}}">
        <br>
        Password: <input type="password" value="{{password::input}}">
        <br>
        <button on-click="logar" class="btn btn-success">Login</button>
      </div> -->
      <div class="row">
        <span>{{conte.nombre}}</span>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoPolymerApp extends Polymer.Element {
      static get is() { return 'demopolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Bienvenidos a la Banca en Linea'
          },
          prop2:{
            type: Number,
            value: 'Consulta donde y cuando fueron tus movimientos aqui:'
          }
        };
      }

      obtenerUsuario(){
        var contenido1 = document.querySelector('#conte')
        fetch('http://127.0.0.1:3000/usuarios'+'/'+this.email+'/'+this.password,{
          headers:{
            'Content-Type': 'application/json',
            'Accept': 'application/json'
          }
        })
        .then(res => res.json())
        .then(data =>{
          console.log(data)
          this.conte = data; 
        })
      }
    }


    window.customElements.define(DemoPolymerApp.is, DemoPolymerApp);
  </script>
</dom-module>
