<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      #map{
        height:400px;
        width:100%;
      }
    </style>
  </head>
  <body>
    <h1>Registrate</h1>
    <div id="Reg">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" value="{{email::input}}">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password" value="{{password::input}}">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Nombre</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Tu nombre" value="{{name::input}}">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Telefono</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Tu telefeno" value="{{telefono::input}}">
        </div>
          <div class="form-group col-md-4">
            <label for="inputState">Sexo</label>
            <select id="inputState" class="form-control" value="{{sexo::input}}">
              <option selected>Hombre</option>
              <option>Mujer</option>
            </select>
          </div>
        </div>
        <button on-click="RegistrarUsuarios" type="submit" class="btn btn-primary">Registrar</button>
      </form>
      <div class="row">
        <span>{{conte.nombre}}</span>
      </div>
    </div>
  </template>
  
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2:{
            type: Number,
            value: 999
          }
        };
      }
      RegistrarUsuarios(){
        var contenido1 = document.querySelector('#conte')
        fetch('http://127.0.0.1:3000/usuarios1',{
          method: 'POST',
          headers:{
            'Content-Type': 'application/json',
            'Accept': 'application/json'
          },
          body: JSON.stringify({
        "nombre": this.name,
        "correo": this.email,
        "password": this.password,
        "telefono": this.telefono,
        "sexo": this.sexo,})
        })
        .then(res => res.json())
        .then(data =>{
          console.log(data)
          this.conte = data; 
        })
      }
    }
    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
